
body{
	background:#f1f1f1;
}
#youtube{
	max-height: 20px;


}

.search-container{
width: 800px;
}

.text{
	width: 650px;
}
.name{
	color:#454ED8;
}
.navbar{
	background:white;
}
.container{
	background: white;
}
.logo {
float:left;
margin: -20px;
}

.search{
	width: 600px;
	text-align: center;
	align-content: center;
}

.hnav{
	list-style: none;
	display: inline;

}

.topnav{
	background:white;
	height: 40px;
}

.hor{float: center;
	padding: 10px;
	color: grey;
	font: arial;}


.sizer{
	width: 190px;
	margin: 10px;
	height: 150px;

}

#banner{
     padding:0 20px;
     margin: 20px;
}
#banner img{
     display:block;
     margin:0 auto;
}

#showmore{
	text-align: right;
	padding: 10px;
	color: #454ED8;
	margin-top: 10px;
}
